
@page "/userprofile";

@if (user == null)
{
    <div class="position-fixed top-50 start-50">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else
{

    @if (filesBase64.Base64data != String.Empty)
    {
        <img src="data:@filesBase64.ContentType;base64,@filesBase64.Base64data" style="margin-left: auto; margin-right: auto; display: block; width: 50%" />

    }
    else if (profilePic != null)
    {
        <img src="data:@profilePic.ContentType;base64,@profilePic.Base64data" style="margin-left: auto; margin-right: auto; display: block; width: 50%" />
    }
    <table class="table table-sm" style="margin-left:auto;margin-right:auto;display:block;width:50%">
        <tbody>
            <tr>
                <td>
                    <div class="input-group">
                        <div class="custom-file">
                            <InputFile class="custom-file-input" single OnChange="OnChange" accept="image/png, image/jpeg, image/gif" id="inputFile" />
                        </div>
                    </div>
                </td>
                <td>
                    <span>
                        <button class="btn btn-primary btn-sm" @onclick="Upload" disabled="@isDisabled">Upload</button>
                        @message
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Name</td>
                <td>@user.Name</td>
            </tr>
            <tr>
                <td>Email Address</td>
                <td>@user.Email</td>
            </tr>
            <tr>
                <td>Created on</td>
                <td>@user.CreatedDTS.ToLocalTime()</td>
            </tr>
        </tbody>
    </table>
}
